---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

 @charset "UTF-8";
 
 // Modules
 @import "modules/_reset",
         "modules/_config",
         "modules/_color-skin",
         "modules/_class-tools",
         "modules/_bootstrap-grid",
         "modules/_animations",
         "modules/_font-7-stroke",
         "modules/_flaticon-social-icons";
 
 // Components
 @import "components/_forms",
         "components/_social-icons",
         "components/_tags-box",
         "components/_buttons";
 
 // Layout
 @import "layout/_global",
         "layout/_header",
         "layout/_header-responsive",
         "layout/_sections",
         "layout/_about",
         "layout/_features",
         "layout/_portfolio",
         "layout/_team",
         "layout/_contact",
         "layout/_footer";
 