/**
 *
 *  Animations Style
 *
 **/

// Pulse Animations
@keyframes theme-pulse {
   0% { transform: rotate(45deg)  scale(1.1); }
   50% { transform: rotate(45deg)  scale(1.4); }
   100% { transform: rotate(45deg)  scale(1.1); }
}

// Page Loader Animations
@keyframes theme-loader-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes theme-loader-out {
  0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

// Mobile Navigation Trigger Button Animations
@keyframes theme-inM{
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}

@keyframes theme-outM{
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}

@keyframes theme-inT{
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(14px) rotate(0deg); }
  100% { transform: translateY(14px) rotate(135deg); }
}

@keyframes theme-outT{
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(14px) rotate(0deg); }
  100% { transform: translateY(14px) rotate(135deg); }
}

@keyframes theme-inBtm{
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-14px) rotate(0deg); }
  100% { transform: translateY(-14px) rotate(135deg); }
}

@keyframes theme-outBtm{
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-14px) rotate(0deg); }
  100% { transform: translateY(-14px) rotate(135deg); }
}
